html[data-color-mode='light'][data-theme~='light:light'],
html[data-color-mode='dark'][data-theme~='dark:light'] {
  color-scheme: light;
  --ds-text: #172b4d;
  --ds-text-accent-lime: #4c6b1f;
  --ds-text-accent-lime-bolder: #37471f;
  --ds-text-accent-red: #ae2e24;
  --ds-text-accent-red-bolder: #5d1f1a;
  --ds-text-accent-orange: #a54800;
  --ds-text-accent-orange-bolder: #702e00;
  --ds-text-accent-yellow: #7f5f01;
  --ds-text-accent-yellow-bolder: #533f04;
  --ds-text-accent-green: #216e4e;
  --ds-text-accent-green-bolder: #164b35;
  --ds-text-accent-teal: #206a83;
  --ds-text-accent-teal-bolder: #164555;
  --ds-text-accent-blue: #0055cc;
  --ds-text-accent-blue-bolder: #09326c;
  --ds-text-accent-purple: #5e4db2;
  --ds-text-accent-purple-bolder: #352c63;
  --ds-text-accent-magenta: #943d73;
  --ds-text-accent-magenta-bolder: #50253f;
  --ds-text-accent-gray: #44546f;
  --ds-text-accent-gray-bolder: #091e42;
  --ds-text-disabled: #091e424f;
  --ds-text-inverse: #ffffff;
  --ds-text-selected: #0c66e4;
  --ds-text-brand: #0c66e4;
  --ds-text-danger: #ae2e24;
  --ds-text-warning: #a54800;
  --ds-text-warning-inverse: #172b4d;
  --ds-text-success: #216e4e;
  --ds-text-discovery: #5e4db2;
  --ds-text-information: #0055cc;
  --ds-text-subtlest: #626f86;
  --ds-text-subtle: #44546f;
  --ds-link: #0c66e4;
  --ds-link-pressed: #0055cc;
  --ds-link-visited: #5e4db2;
  --ds-link-visited-pressed: #352c63;
  --ds-icon: #44546f;
  --ds-icon-accent-lime: #6a9a23;
  --ds-icon-accent-red: #c9372c;
  --ds-icon-accent-orange: #e56910;
  --ds-icon-accent-yellow: #b38600;
  --ds-icon-accent-green: #22a06b;
  --ds-icon-accent-teal: #2898bd;
  --ds-icon-accent-blue: #1d7afc;
  --ds-icon-accent-purple: #8270db;
  --ds-icon-accent-magenta: #cd519d;
  --ds-icon-accent-gray: #758195;
  --ds-icon-disabled: #091e424f;
  --ds-icon-inverse: #ffffff;
  --ds-icon-selected: #0c66e4;
  --ds-icon-brand: #0c66e4;
  --ds-icon-danger: #c9372c;
  --ds-icon-warning: #e56910;
  --ds-icon-warning-inverse: #172b4d;
  --ds-icon-success: #22a06b;
  --ds-icon-discovery: #8270db;
  --ds-icon-information: #1d7afc;
  --ds-icon-subtle: #626f86;
  --ds-border: #091e4224;
  --ds-border-accent-lime: #6a9a23;
  --ds-border-accent-red: #e2483d;
  --ds-border-accent-orange: #e56910;
  --ds-border-accent-yellow: #b38600;
  --ds-border-accent-green: #22a06b;
  --ds-border-accent-teal: #2898bd;
  --ds-border-accent-blue: #1d7afc;
  --ds-border-accent-purple: #8270db;
  --ds-border-accent-magenta: #cd519d;
  --ds-border-accent-gray: #758195;
  --ds-border-disabled: #091e420f;
  --ds-border-focused: #388bff;
  --ds-border-input: #8590a2;
  --ds-border-inverse: #ffffff;
  --ds-border-selected: #0c66e4;
  --ds-border-brand: #0c66e4;
  --ds-border-danger: #e2483d;
  --ds-border-warning: #e56910;
  --ds-border-success: #22a06b;
  --ds-border-discovery: #8270db;
  --ds-border-information: #1d7afc;
  --ds-border-bold: #758195;
  --ds-background-accent-lime-subtlest: #efffd6;
  --ds-background-accent-lime-subtlest-hovered: #d3f1a7;
  --ds-background-accent-lime-subtlest-pressed: #b3df72;
  --ds-background-accent-lime-subtler: #d3f1a7;
  --ds-background-accent-lime-subtler-hovered: #b3df72;
  --ds-background-accent-lime-subtler-pressed: #94c748;
  --ds-background-accent-lime-subtle: #94c748;
  --ds-background-accent-lime-subtle-hovered: #b3df72;
  --ds-background-accent-lime-subtle-pressed: #d3f1a7;
  --ds-background-accent-lime-bolder: #5b7f24;
  --ds-background-accent-lime-bolder-hovered: #4c6b1f;
  --ds-background-accent-lime-bolder-pressed: #37471f;
  --ds-background-accent-red-subtlest: #ffeceb;
  --ds-background-accent-red-subtlest-hovered: #ffd5d2;
  --ds-background-accent-red-subtlest-pressed: #fd9891;
  --ds-background-accent-red-subtler: #ffd5d2;
  --ds-background-accent-red-subtler-hovered: #fd9891;
  --ds-background-accent-red-subtler-pressed: #f87168;
  --ds-background-accent-red-subtle: #f87168;
  --ds-background-accent-red-subtle-hovered: #fd9891;
  --ds-background-accent-red-subtle-pressed: #ffd5d2;
  --ds-background-accent-red-bolder: #c9372c;
  --ds-background-accent-red-bolder-hovered: #ae2e24;
  --ds-background-accent-red-bolder-pressed: #5d1f1a;
  --ds-background-accent-orange-subtlest: #fff3eb;
  --ds-background-accent-orange-subtlest-hovered: #fedec8;
  --ds-background-accent-orange-subtlest-pressed: #fec195;
  --ds-background-accent-orange-subtler: #fedec8;
  --ds-background-accent-orange-subtler-hovered: #fec195;
  --ds-background-accent-orange-subtler-pressed: #fea362;
  --ds-background-accent-orange-subtle: #fea362;
  --ds-background-accent-orange-subtle-hovered: #fec195;
  --ds-background-accent-orange-subtle-pressed: #fedec8;
  --ds-background-accent-orange-bolder: #c25100;
  --ds-background-accent-orange-bolder-hovered: #a54800;
  --ds-background-accent-orange-bolder-pressed: #702e00;
  --ds-background-accent-yellow-subtlest: #fff7d6;
  --ds-background-accent-yellow-subtlest-hovered: #f8e6a0;
  --ds-background-accent-yellow-subtlest-pressed: #f5cd47;
  --ds-background-accent-yellow-subtler: #f8e6a0;
  --ds-background-accent-yellow-subtler-hovered: #f5cd47;
  --ds-background-accent-yellow-subtler-pressed: #e2b203;
  --ds-background-accent-yellow-subtle: #f5cd47;
  --ds-background-accent-yellow-subtle-hovered: #e2b203;
  --ds-background-accent-yellow-subtle-pressed: #cf9f02;
  --ds-background-accent-yellow-bolder: #946f00;
  --ds-background-accent-yellow-bolder-hovered: #7f5f01;
  --ds-background-accent-yellow-bolder-pressed: #533f04;
  --ds-background-accent-green-subtlest: #dcfff1;
  --ds-background-accent-green-subtlest-hovered: #baf3db;
  --ds-background-accent-green-subtlest-pressed: #7ee2b8;
  --ds-background-accent-green-subtler: #baf3db;
  --ds-background-accent-green-subtler-hovered: #7ee2b8;
  --ds-background-accent-green-subtler-pressed: #4bce97;
  --ds-background-accent-green-subtle: #4bce97;
  --ds-background-accent-green-subtle-hovered: #7ee2b8;
  --ds-background-accent-green-subtle-pressed: #baf3db;
  --ds-background-accent-green-bolder: #1f845a;
  --ds-background-accent-green-bolder-hovered: #216e4e;
  --ds-background-accent-green-bolder-pressed: #164b35;
  --ds-background-accent-teal-subtlest: #e7f9ff;
  --ds-background-accent-teal-subtlest-hovered: #c6edfb;
  --ds-background-accent-teal-subtlest-pressed: #9dd9ee;
  --ds-background-accent-teal-subtler: #c6edfb;
  --ds-background-accent-teal-subtler-hovered: #9dd9ee;
  --ds-background-accent-teal-subtler-pressed: #6cc3e0;
  --ds-background-accent-teal-subtle: #6cc3e0;
  --ds-background-accent-teal-subtle-hovered: #9dd9ee;
  --ds-background-accent-teal-subtle-pressed: #c6edfb;
  --ds-background-accent-teal-bolder: #227d9b;
  --ds-background-accent-teal-bolder-hovered: #206a83;
  --ds-background-accent-teal-bolder-pressed: #164555;
  --ds-background-accent-blue-subtlest: #e9f2ff;
  --ds-background-accent-blue-subtlest-hovered: #cce0ff;
  --ds-background-accent-blue-subtlest-pressed: #85b8ff;
  --ds-background-accent-blue-subtler: #cce0ff;
  --ds-background-accent-blue-subtler-hovered: #85b8ff;
  --ds-background-accent-blue-subtler-pressed: #579dff;
  --ds-background-accent-blue-subtle: #579dff;
  --ds-background-accent-blue-subtle-hovered: #85b8ff;
  --ds-background-accent-blue-subtle-pressed: #cce0ff;
  --ds-background-accent-blue-bolder: #0c66e4;
  --ds-background-accent-blue-bolder-hovered: #0055cc;
  --ds-background-accent-blue-bolder-pressed: #09326c;
  --ds-background-accent-purple-subtlest: #f3f0ff;
  --ds-background-accent-purple-subtlest-hovered: #dfd8fd;
  --ds-background-accent-purple-subtlest-pressed: #b8acf6;
  --ds-background-accent-purple-subtler: #dfd8fd;
  --ds-background-accent-purple-subtler-hovered: #b8acf6;
  --ds-background-accent-purple-subtler-pressed: #9f8fef;
  --ds-background-accent-purple-subtle: #9f8fef;
  --ds-background-accent-purple-subtle-hovered: #b8acf6;
  --ds-background-accent-purple-subtle-pressed: #dfd8fd;
  --ds-background-accent-purple-bolder: #6e5dc6;
  --ds-background-accent-purple-bolder-hovered: #5e4db2;
  --ds-background-accent-purple-bolder-pressed: #352c63;
  --ds-background-accent-magenta-subtlest: #ffecf8;
  --ds-background-accent-magenta-subtlest-hovered: #fdd0ec;
  --ds-background-accent-magenta-subtlest-pressed: #f797d2;
  --ds-background-accent-magenta-subtler: #fdd0ec;
  --ds-background-accent-magenta-subtler-hovered: #f797d2;
  --ds-background-accent-magenta-subtler-pressed: #e774bb;
  --ds-background-accent-magenta-subtle: #e774bb;
  --ds-background-accent-magenta-subtle-hovered: #f797d2;
  --ds-background-accent-magenta-subtle-pressed: #fdd0ec;
  --ds-background-accent-magenta-bolder: #ae4787;
  --ds-background-accent-magenta-bolder-hovered: #943d73;
  --ds-background-accent-magenta-bolder-pressed: #50253f;
  --ds-background-accent-gray-subtlest: #f1f2f4;
  --ds-background-accent-gray-subtlest-hovered: #dcdfe4;
  --ds-background-accent-gray-subtlest-pressed: #b3b9c4;
  --ds-background-accent-gray-subtler: #dcdfe4;
  --ds-background-accent-gray-subtler-hovered: #b3b9c4;
  --ds-background-accent-gray-subtler-pressed: #8590a2;
  --ds-background-accent-gray-subtle: #8590a2;
  --ds-background-accent-gray-subtle-hovered: #b3b9c4;
  --ds-background-accent-gray-subtle-pressed: #dcdfe4;
  --ds-background-accent-gray-bolder: #626f86;
  --ds-background-accent-gray-bolder-hovered: #44546f;
  --ds-background-accent-gray-bolder-pressed: #2c3e5d;
  --ds-background-disabled: #091e4208;
  --ds-background-input: #ffffff;
  --ds-background-input-hovered: #f7f8f9;
  --ds-background-input-pressed: #ffffff;
  --ds-background-inverse-subtle: #00000029;
  --ds-background-inverse-subtle-hovered: #0000003d;
  --ds-background-inverse-subtle-pressed: #00000052;
  --ds-background-neutral: #091e420f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-background-neutral-pressed: #091e424f;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-neutral-subtle-pressed: #091e4224;
  --ds-background-neutral-bold: #44546f;
  --ds-background-neutral-bold-hovered: #2c3e5d;
  --ds-background-neutral-bold-pressed: #172b4d;
  --ds-background-selected: #e9f2ff;
  --ds-background-selected-hovered: #cce0ff;
  --ds-background-selected-pressed: #85b8ff;
  --ds-background-selected-bold: #0c66e4;
  --ds-background-selected-bold-hovered: #0055cc;
  --ds-background-selected-bold-pressed: #09326c;
  --ds-background-brand-subtlest: #e9f2ff;
  --ds-background-brand-subtlest-hovered: #cce0ff;
  --ds-background-brand-subtlest-pressed: #85b8ff;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-background-brand-bold-pressed: #09326c;
  --ds-background-brand-boldest: #1c2b41;
  --ds-background-brand-boldest-hovered: #09326c;
  --ds-background-brand-boldest-pressed: #0055cc;
  --ds-background-danger: #ffeceb;
  --ds-background-danger-hovered: #ffd5d2;
  --ds-background-danger-pressed: #fd9891;
  --ds-background-danger-bold: #c9372c;
  --ds-background-danger-bold-hovered: #ae2e24;
  --ds-background-danger-bold-pressed: #5d1f1a;
  --ds-background-warning: #fff7d6;
  --ds-background-warning-hovered: #f8e6a0;
  --ds-background-warning-pressed: #f5cd47;
  --ds-background-warning-bold: #f5cd47;
  --ds-background-warning-bold-hovered: #e2b203;
  --ds-background-warning-bold-pressed: #cf9f02;
  --ds-background-success: #dcfff1;
  --ds-background-success-hovered: #baf3db;
  --ds-background-success-pressed: #7ee2b8;
  --ds-background-success-bold: #1f845a;
  --ds-background-success-bold-hovered: #216e4e;
  --ds-background-success-bold-pressed: #164b35;
  --ds-background-discovery: #f3f0ff;
  --ds-background-discovery-hovered: #dfd8fd;
  --ds-background-discovery-pressed: #b8acf6;
  --ds-background-discovery-bold: #6e5dc6;
  --ds-background-discovery-bold-hovered: #5e4db2;
  --ds-background-discovery-bold-pressed: #352c63;
  --ds-background-information: #e9f2ff;
  --ds-background-information-hovered: #cce0ff;
  --ds-background-information-pressed: #85b8ff;
  --ds-background-information-bold: #0c66e4;
  --ds-background-information-bold-hovered: #0055cc;
  --ds-background-information-bold-pressed: #09326c;
  --ds-blanket: #091e427d;
  --ds-blanket-selected: #388bff14;
  --ds-blanket-danger: #ef5c4814;
  --ds-interaction-hovered: #00000029;
  --ds-interaction-pressed: #00000052;
  --ds-skeleton: #091e420f;
  --ds-skeleton-subtle: #091e4208;
  --ds-chart-categorical-1: #2898bd;
  --ds-chart-categorical-1-hovered: #227d9b;
  --ds-chart-categorical-2: #5e4db2;
  --ds-chart-categorical-2-hovered: #352c63;
  --ds-chart-categorical-3: #e56910;
  --ds-chart-categorical-3-hovered: #c25100;
  --ds-chart-categorical-4: #943d73;
  --ds-chart-categorical-4-hovered: #50253f;
  --ds-chart-categorical-5: #09326c;
  --ds-chart-categorical-5-hovered: #1c2b41;
  --ds-chart-categorical-6: #8f7ee7;
  --ds-chart-categorical-6-hovered: #8270db;
  --ds-chart-categorical-7: #50253f;
  --ds-chart-categorical-7-hovered: #3d2232;
  --ds-chart-categorical-8: #a54800;
  --ds-chart-categorical-8-hovered: #702e00;
  --ds-chart-lime-bold: #6a9a23;
  --ds-chart-lime-bold-hovered: #5b7f24;
  --ds-chart-lime-bolder: #5b7f24;
  --ds-chart-lime-bolder-hovered: #4c6b1f;
  --ds-chart-lime-boldest: #4c6b1f;
  --ds-chart-lime-boldest-hovered: #37471f;
  --ds-chart-neutral: #8590a2;
  --ds-chart-neutral-hovered: #758195;
  --ds-chart-red-bold: #f15b50;
  --ds-chart-red-bold-hovered: #e2483d;
  --ds-chart-red-bolder: #e2483d;
  --ds-chart-red-bolder-hovered: #c9372c;
  --ds-chart-red-boldest: #ae2e24;
  --ds-chart-red-boldest-hovered: #5d1f1a;
  --ds-chart-orange-bold: #e56910;
  --ds-chart-orange-bold-hovered: #c25100;
  --ds-chart-orange-bolder: #c25100;
  --ds-chart-orange-bolder-hovered: #a54800;
  --ds-chart-orange-boldest: #a54800;
  --ds-chart-orange-boldest-hovered: #702e00;
  --ds-chart-yellow-bold: #b38600;
  --ds-chart-yellow-bold-hovered: #946f00;
  --ds-chart-yellow-bolder: #946f00;
  --ds-chart-yellow-bolder-hovered: #7f5f01;
  --ds-chart-yellow-boldest: #7f5f01;
  --ds-chart-yellow-boldest-hovered: #533f04;
  --ds-chart-green-bold: #22a06b;
  --ds-chart-green-bold-hovered: #1f845a;
  --ds-chart-green-bolder: #1f845a;
  --ds-chart-green-bolder-hovered: #216e4e;
  --ds-chart-green-boldest: #216e4e;
  --ds-chart-green-boldest-hovered: #164b35;
  --ds-chart-teal-bold: #2898bd;
  --ds-chart-teal-bold-hovered: #227d9b;
  --ds-chart-teal-bolder: #227d9b;
  --ds-chart-teal-bolder-hovered: #206a83;
  --ds-chart-teal-boldest: #206a83;
  --ds-chart-teal-boldest-hovered: #164555;
  --ds-chart-blue-bold: #388bff;
  --ds-chart-blue-bold-hovered: #1d7afc;
  --ds-chart-blue-bolder: #1d7afc;
  --ds-chart-blue-bolder-hovered: #0c66e4;
  --ds-chart-blue-boldest: #0055cc;
  --ds-chart-blue-boldest-hovered: #09326c;
  --ds-chart-purple-bold: #8f7ee7;
  --ds-chart-purple-bold-hovered: #8270db;
  --ds-chart-purple-bolder: #8270db;
  --ds-chart-purple-bolder-hovered: #6e5dc6;
  --ds-chart-purple-boldest: #5e4db2;
  --ds-chart-purple-boldest-hovered: #352c63;
  --ds-chart-magenta-bold: #da62ac;
  --ds-chart-magenta-bold-hovered: #cd519d;
  --ds-chart-magenta-bolder: #cd519d;
  --ds-chart-magenta-bolder-hovered: #ae4787;
  --ds-chart-magenta-boldest: #943d73;
  --ds-chart-magenta-boldest-hovered: #50253f;
  --ds-chart-gray-bold: #8590a2;
  --ds-chart-gray-bold-hovered: #758195;
  --ds-chart-gray-bolder: #758195;
  --ds-chart-gray-bolder-hovered: #626f86;
  --ds-chart-gray-boldest: #44546f;
  --ds-chart-gray-boldest-hovered: #2c3e5d;
  --ds-chart-brand: #1d7afc;
  --ds-chart-brand-hovered: #0c66e4;
  --ds-chart-danger: #f15b50;
  --ds-chart-danger-hovered: #e2483d;
  --ds-chart-danger-bold: #ae2e24;
  --ds-chart-danger-bold-hovered: #5d1f1a;
  --ds-chart-warning: #b38600;
  --ds-chart-warning-hovered: #946f00;
  --ds-chart-warning-bold: #7f5f01;
  --ds-chart-warning-bold-hovered: #533f04;
  --ds-chart-success: #22a06b;
  --ds-chart-success-hovered: #1f845a;
  --ds-chart-success-bold: #216e4e;
  --ds-chart-success-bold-hovered: #164b35;
  --ds-chart-discovery: #8f7ee7;
  --ds-chart-discovery-hovered: #8270db;
  --ds-chart-discovery-bold: #5e4db2;
  --ds-chart-discovery-bold-hovered: #352c63;
  --ds-chart-information: #388bff;
  --ds-chart-information-hovered: #1d7afc;
  --ds-chart-information-bold: #0055cc;
  --ds-chart-information-bold-hovered: #09326c;
  --ds-surface: #ffffff;
  --ds-surface-hovered: #f1f2f4;
  --ds-surface-pressed: #dcdfe4;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f1f2f4;
  --ds-surface-overlay-pressed: #dcdfe4;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f1f2f4;
  --ds-surface-raised-pressed: #dcdfe4;
  --ds-surface-sunken: #f7f8f9;
  --ds-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e421f;
  --ds-shadow-overflow-perimeter: #091e421f;
  --ds-shadow-overflow-spread: #091e4229;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-opacity-disabled: 0.4;
  --ds-opacity-loading: 0.2;
  --ds-UNSAFE-transparent: transparent;
  --ds-elevation-surface-current: #ffffff;
}
